In [1]:
import scipy.stats as stats
import pandas as pd

In [2]:
vendor1 = [0.0571, 0.0813, 0.0831, 0.0976, 0.0817, 0.0859, 0.0735, 0.0659, 0.0923, 0.0836]

In [3]:
vendor2 =[0.0873, 0.0662, 0.0672, 0.0819, 0.0749, 0.0649, 0.0835, 0.0725]

In [4]:
vendor3 = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
vendor4 = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764, 0.0689]
vendor5 = [0.0703, 0.1026, 0.0956, 0.0973, 0.1039, 0.1045]

In [5]:
#Hypthosis
#h0 all the vendor processing time are same
#ha all the vendor processing time are different

stats.f_oneway(vendor1, vendor2, vendor3, vendor4, vendor5)

F_onewayResult(statistic=7.121019471642447, pvalue=0.0002812242314534544)

In [9]:
vendor1 = pd.Series(vendor1)

In [10]:
vendor1.mean()

0.0802

In [13]:
vendor2 = pd.Series(vendor2)
vendor2.mean()

0.0802

In [14]:
vendor3 = pd.Series(vendor3)
vendor3.mean()

0.10344285714285714

In [15]:
vendor4 = pd.Series(vendor4)
vendor4.mean()

0.0780125

In [16]:
vendor5 = pd.Series(vendor5)
vendor5.mean()

0.09570000000000001

In [6]:
import pandas as pd

In [17]:
letter1 = pd.read_csv('letterdata.csv')

In [20]:
letter2 = pd.get_dummies(letter1['letter'])

In [21]:
letter2

       A  B  C  D  E  F  G  H  I  J  ...  Q  R  S  T  U  V  W  X  Y  Z
0      0  0  0  0  0  0  0  0  0  0  ...  0  0  0  1  0  0  0  0  0  0
1      0  0  0  0  0  0  0  0  1  0  ...  0  0  0  0  0  0  0  0  0  0
2      0  0  0  1  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
3      0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4      0  0  0  0  0  0  1  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
...   .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
19995  0  0  0  1  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
19996  0  0  1  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
19997  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  1  0  0  0  0  0  0
19998  0  0  0  0  0  0  0  0  0  0  ...  0  0  1  0  0  0  0  0  0  0
19999  1  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[20000 rows x 26 columns]